* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  color: #7c7c7c;

}

#main {
  position: relative;
  overflow: hidden;
}
#page {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: black;
}
#page1 {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
}
#page2 {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
}
#page3 {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
}
canvas {
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
  z-index: 9;
}
#nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  width: 100vw;
  margin-top: 1.4rem;
}
#nav .left {
  font-size: 40px;
  font-weight: 400;
  color: white;
  padding-left: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#nav .right {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 1rem 2rem;
}
.menu .menu-item {
  text-decoration: none;
  display: inline-block;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 0rem 1rem;
  font-weight: 300;
}

.menu .menu-item a {
  color: white;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 900;
}

.menu .menu-item a:hover {
  color: #735453;
}



#loop{
    display: flex;
    position: absolute;
    top: 30%;
    height: 34%;
    width: 100%;
    font-size: 100px;
    white-space: nowrap;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    background-color: #989294;
    border: none;
}
#loop>h1{
    font-weight: 400;
    animation-name: anim;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    color: #000;
}
#loop>h1>span{
    -webkit-text-stroke: 1.2px #000;
    color: transparent;
    font-weight: 500;
}
@keyframes anim{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.left>sup{
    font-size: 0.8rem;
}

#page>h3{
    position: absolute;
    top: 69%;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    font-weight: 400;
    color: #7c7c7c;
    padding-right: 2rem;
    left: 5%;
    display: inline-block;
    width: 30%;
    line-height: 1.5rem;
}
#page>h4{
    position: absolute;
    top: 80%;
    left: 15%;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    font-weight: 500;
    display: inline-block;
    width: 30%;
    padding-right: 2rem;

    color: #7c7c7c;

}
#page1>#right-text{
    position: absolute;
    top: 30%;
    left: 10%;
}
#page1>#right-text>h3{
    font-weight: 400;
    color: #7c7c7c;
}
#page1>#right-text>h1{
    line-height: 1.5;
    font-size: 50px;
}
#page1>#left-text{
    position: absolute;
    top: 50%;
    right: 10%;
    text-align: end;
}
#page1>#left-text>h1{
    font-size: 50px;
    line-height: 1.5;
}
#page1>#left-text>h3{
    color: #7c7c7c;
    font-weight: 400;
}
#page2>#text1{
    position: absolute;
    top: 30%;
    left: 10%;
}
#page2>#text1>h3{
    color: #7c7c7c;
    font-weight: 400;
}
#page2>#text1>h1{
    font-size: 60px;
    line-height: 1.5;
}
#page2>#text2{
    position: absolute;
    top: 55%;
    right: 10%;
    text-align: end;
}
#page2>#text2>p{
    color: #7c7c7c;
    font-weight: 400;
}
#page3>#text3{
    position: absolute;
    top: 40%;
    right: 10%;
    text-align: end;
}
#page3>#text3>h3{
    color: #7c7c7c;
    font-weight: 400;
}
#page3>#text3>h1{
    font-size: 70px;

}